body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#container {
  background: url(../images/ui/background.jpg);
  width: 1280px;
  height: 720px;
  position: relative;
}



.container-body {
  padding: 16px;
}
.container-body-section {
  margin-top: 8px !important;
}



#signatureUploadFailedText {
  margin-left:64px;
  margin-top:64px;
  color:red;
}
#saveSignatureButton
{
    text-align: center;
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 55px;
    margin-top:6px;
    background: rgb(0,180,0);
    box-shadow: 0px 0px 0px 0px rgba(90, 111, 120, .4);
    border:2px solid black;
    border-radius: 7px;
    font-size: 36px;
    text-decoration: none;
    cursor: pointer;
}

#saveSignatureButton:hover {
    background: rgb(0,190,0);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .5), inset -3px -3px 3px rgba(90, 111, 120, .4);
}

#saveSignatureButton:active {
    background: rgb(0,150,30);
}


.clearit
{
    height: 0 !important;
}

.Round_Green_Button
{
    text-align: center;
    width: 60px;
    height: 20px;
    color: white;
    margin-right: 8px;
    background: rgb(0,190,0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 0px rgba(90, 111, 120, .4);
    border:2px solid black;
    font-size: 16px;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
  cursor: pointer;
}

.Round_Green_Button:hover {
    background: rgb(0,190,0);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .5), inset -3px -3px 3px rgba(90, 111, 120, .4);

}

.Round_Green_Button:active {
    background: rgb(0,150,30);
}


 .signatureCopy
{
    margin-left: 55px;
    width: 100%;
}

 .signatureCopy h2
{
    color: #ccc;
    font-size: 24px;
    margin-bottom: 7px;
    margin-left: 3px;
}

 .signatureCopy h2 span
{
    color: #999;
    font-size: 13px;
}

.signatureCopy input
{
    width:82%;
    height: 30px;
}

 .signatureCopyInside
{
    margin-top:5px;

}

.signatureCopyInside input
{
    font-family: 'Open Sans',sans-serif;
    float: left;
    background-color: #333;
    color: #999;
    border: 0;
    margin: 0;
    padding: 5px;
    height: 30px;
    font-size: 20px;
}

.signatureCopyInside .CopyButton
{
    float:left;
    margin-left:10px;
    margin-right: 0px;
    transition: background 0.25s linear;
}


.ui-tabs-panel, .ui-widget-content, .ui-corner-bottom, .ui-tabs .ui-tabs-panel {
  margin: 0px;
  padding: 0px;
}

.image-list {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid black;
}
.image-list td, th {
  padding: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
.image-list tr {
  text-align: center;
  /*border: 1px solid red;*/
  padding: 0px;
  margin: 0px;
}
.image-list img {
  width: 192px;
  height: 59px;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
}
#bg-list img {
  padding: 4px;
}
/*#bg-list {
  margin-left: 10px;
}*/
#workspaceCanvas {
  border: 2px solid #000;
  /*display: inline-block;*/
  /*vertical-align: top;*/
  margin-left:56px;
  margin-right:20px;
  margin-bottom:20px;
}
#left-toolbar {
  /*display: inline-block;*/
  margin-top: 8px;
  width: 600px;
  border: solid 2px black;
  background: rgba(0, 0, 0, 0.4);
  margin-left:56px;
  margin-bottom:20px;
}

#left-toolbar td {
  padding: 2px;
}
#left-toolbar button {
  width: 40px;
  height: 40px;
  border: solid 2px black;
  background: rgba(0, 0, 0, 0.4);
  color: #aaa;
  background: #363941;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
  border-radius: 5px;
}
#left-toolbar button:hover {
  cursor: pointer;
}
#left-toolbar button:hover span {
  color: orange;
}
#left-toolbar button img {
  width: 25px;
  height: 25px;
}
#left-toolbar span {
  color: rgba(255, 255, 255, 0.7);
}
#left-toolbar td:hover {
  color: orange;
}
#opacitySlider {
  margin-left: 8px;
  width: 240px;
  border: solid 2px black;
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
  border-radius: 5px;
  border: solid 2px black;
}
.ui-slider-horizontal {
  background: #363941;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
  border-radius: 5px;
}


#leftDoor {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 10;
}
#rightDoor {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 10;
}

.ui-tabs .ui-tabs-nav li {
  width: 14%;
  text-align: center;
  margin-left: 2.5px;
  margin-top: 10px;
  margin-right: 0px;
  padding: 0px;
}
.ui-tabs .ui-tabs-nav li:first-child {
  width: 17%;
  margin-left: 75px;
}
.ui-tabs .ui-tabs-nav li:last-child {
  width: 14%;
  margin-right: 50px;
}
.ui-tabs .ui-tabs-nav li a {
  display: inline-block;
  float: none;
  padding: 0px;
  text-decoration: none;
  width: 90%;
  background: black;
}
#tabs, #nav, #nav li {
  border: none;
  font-size: 1.2em;
  background: transparent;
}
#nav {
  background: url("../images/ui/navbar.jpg");
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 75px;
  /*margin-top:10px;*/
}
#tabs div {
  
}
#tabs {
  padding: 0px;
}

/* THIS IS WHERE CHANGE COLOR AND STUFF OF NAV BAR */

#nav li a {
  color: #aaa;
  padding: 0px;
  margin: 0px;
  background: #363941;
  padding: 5px;
  margin-top: 0px;
  /*border-right:1px solid white;
    border-left:1px solid white;*/
  /* bevel */
  /*-moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);*/
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
  /* round corners */
  border-radius: 5px;
  /* font stuff */
  /* emboss? */
  /*text-shadow: 1px 1px 0 rgb(223, 227, 229), 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  font-family: Verdana;
  /* black outline */
  text-shadow: 0 0 0 #000, 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 30px #fff, 0 0 40px #000;
  height: 40px;
}
#nav li:last-child a {
  /*border-right:none;*/
}
#nav li.ui-tabs-active a {
  color: #eee;
}
#nav li a:hover {
  color: orange;
  /* crazy glow */
  text-shadow: 0 0 0 #000, 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 30px #fe0, 0 0 40px #000;
}

/*hide outline */

*:focus {
  outline: 0;
}

/* name fonts */

.font1 {
  font-family: Helvetica;
  font-size: 24px;
}
.font2 {
  font-family: Impact;
  font-size: 24px;
}
.font3 {
  font-family: 'Comic-Sans';
  font-size: 24px;
}
.full-spectrum .sp-palette {
  max-width: 200px;
}
#name-list {

}
#name-list td, #stat-list td {

  padding: 4px;
  margin: 0px;
}

#name-list img, #stat-list img {
  width: 100%;
}
#extras-list td {
  width: 170px;
  height: 89px;
  /*border: 2px solid white;*/
  padding: 0px;
  margin: 0px;
  padding: 4px;
}
#extras-list img {
  width: 95%;
  height: 90%;

}


#statPageInfoText {
  margin-left:64px;
  margin-top:4px;
  margin-bottom:14px;
  color:#A4ADA7;
}

#weapon-list img {
  width: 200px;
  height: 65px;
}
.image-list img:hover {
  background: rgba(255, 255, 255, 0.3);
}
#weapons {
  padding: 0px;
  margin-left: 0px;
}

.text-style-shadow {
  width: 80px;
}

.shadow {
  /*width: 100%;*/
  overflow: hidden;
  height: auto;
}

.hidden {
  display: none;
}
#customize-text td {
  color: white;
}
#customize-text td:last-child {
  text-align: right;
}

#customize-text-opener {
  display: block;
  width: 100%;
}
#name-toolbar {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  border: solid 2px black;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  height: 272px;
}
#name-toolbar input[type=text] {
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5), inset -2px -2px 2px rgba(90, 111, 120, .4);
  padding: 4px;
  border:none;
  border:2px solid black;
}
#textShadows {
  width: 100%;
}
#textShadows td {
  padding: 2px;

}



.text-style-options td {
  padding: 2px;
}

.color-picker-button {
  border-radius: 4px;
  background: transparent;
  border: none;
  border: 2px solid black;
}
.color-picker-popup {
  background: lightgray;
  border: solid 1px white;
  box-shadow: 2px 2px 16px 8px rgba(0, 0, 0, 0.8)
}
#text-style-font-family {
  width: 100%;
  font-size: 14px;
}

.customize-add-shadow, .customize-remove-shadow {
  border-radius: 4px;
 
  border:2px solid black;
  width:30px;
  height:30px;
  cursor:pointer;
}
.customize-add-shadow {
  background: green;
  width:55px;
  height:35px;
}
.customize-remove-shadow {
  background: red;
}
.customize-add-shadow:hover, .customize-remove-shadow:hover{
   box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
}

#stat-toolbar {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  border: solid 2px black;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  height: 272px;
}
#stat-toolbar input[type=text] {
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5), inset -2px -2px 2px rgba(90, 111, 120, .4);
  padding: 4px;
  border:none;
  border:2px solid black;
}


#customize-stat td {
  color: white;
}
#customize-stat td:last-child {
  text-align: right;
}

#customize-stat-opener {
  display: block;
  width: 100%;
}

.stat-style-options td {
  padding: 2px;
}

#stat-style-font-family {
  width: 100%;
  font-size: 14px;
}
#stat-style-strokeWidth {
  width: 55px;

}



#authWindow {
  width: 640px;
  height: 256px;
  position: absolute;
  top: 230px;
  left: 320px;
  z-index: 11;
  background-color: rgba(51, 51, 51, .7);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
  border-radius: 5px;

}
#authText {
  font-family: 'Open Sans',sans-serif;
    color: #c1c1c1;
    font-size: 34px;
    text-align: center;
    padding-top:15px;

}
#authTitle {
  border-bottom: solid 2px #c1c1c1;
  width:410px;
   margin:0 auto;
}
#authBody {
  padding-top:25px;
  padding-bottom:25px;
}


#authButton
{
    text-align: center;
    width: 150px;
    height: 50px;
    color: white;
    background: rgb(0,170,0);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5), inset -5px -5px 5px rgba(90, 111, 120, .4);
    border-radius: 7px;
    font-size: 36px;
    text-decoration: none;
    cursor: default;
    display:block;
    position:relative;
    margin:0 auto;


}

#authButton:hover {
    background: rgb(0,210,0);
}

#authButton:active {
    background: rgb(155,155,155);
}